body{
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}

:root {
    font-size: 20px;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    letter-spacing: 1.2em;
    text-shadow: 1px 2px 1px #808080;
    border-bottom: 3px solid rgb(115, 115, 114);
    
}

.skyblue{
    color: skyblue;
}
.pink{
    color: rgb(255, 192, 203);
}

#basic p{
    font-weight: bold;
}