body{
    font-family: 'Kiwi Maru', serif;
    margin: 0 auto;
    text-align: center;
    background-color: bisque;
    font-size: 20px;
}

header{
    font-size: 25px;
    margin: 10px 0;
}

h1{
    font-size: 40px;
}

title p{
    color: #808080;
}

#title-name{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #e2e2e2;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

#title-name a{
    margin: 10px auto;
}

#title-name a:link{color: #000;}
a:hover{color: #c3c10a;}
a:visited{color: #f9a5f2;}

header img{
    width: 80%;
    margin: 0 0 10px 0;
}

.more{
    background-color: #e2e2e2;
    text-shadow: 1px 2px 1px grey;
    padding:10px 30px;
    margin: 15px 0;
    letter-spacing: 0.3em;
}

.about-h2{
    border-bottom: solid 2px #000;
    margin: 10% auto 5% auto;
    width: 150px;
}

.contact-h2{
    border-bottom: solid 2px #000;
    margin: 10% auto 5% auto;
    width: 150px;
}

.contact-more{
    background-color: #e2e2e2;
    text-shadow: 1px 2px 1px grey;
    padding:10px 30px;
    margin: 15px 0;
    letter-spacing: 0.3em;
}

footer{
    background-color: #383838;
}

#footer-title{

    display: flex;
    flex-flow: column;
    width: 120px;
    margin: 50px 50px 0 auto;
    padding: 0 0 20px 0;
}

#footer-title a:link{
    color: white;
}